/* MediaCard.css */

.outer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: 0.25s;
}

.outer:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.media-card-img-div {
  position: relative;
  float: left;
  box-shadow: inset 0px -7px 9px -7px black;
  background-color: transparent;
}

.media-card-img-div .media-card-img {
  display: block;
  position: relative;
  /* z-index: -1; */
}

.outer {
  position: relative;
}

.media-card {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .4s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .25s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.outer:hover .middle {
  opacity: 1;
}

/* .media-card:hover {
  filter: blur(5px);
} */

/* .media-card .card-text-container {
  padding: 2px 16px;
} */

/* .outer:hover img {
  opacity: 0.8;
} */