/* Home.css */

/* 
#eef0f1 - Original Darker Gray 
#fffaf0 - Cream off white
#f8f8ff - Purple-ish tint
#f5f5f5 = "White smoke"
*/ 

body {
    background-color: #eef0f1;
}

.home-page h1,
.home-page h2
{
    font-family: "Roboto Slab"
}

.home-page h2 {
    font-size: 35px;
    margin: 0px;
    margin-bottom: 10px;
}

.home-page h3 {
    font-size: 25px;
    margin: 0px;
    margin-bottom: 10px;
}


.home-page .panels-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.home-page .home-half-panel {
    flex-basis: 45%;
    flex-grow: 1;
    min-width: 250px;
}
