
$gradient-1: #022b8b;
$gradient-2: #3bb2e6;

$background-color: #1e1f20;
$section-bg-color: #252729;
$footer-background-color: #121314;

$primary-text-color: #ffffff;
$secondary-text-color: #afb0b1;

$ibm-blue: #0f62fe;
$iona-maroon: #800c25;
$iona-gold: #f0ab00;