@use 'colors';
@use 'fonts';

.links-root {
    @media (min-width: 934px) {
        max-width: 1200px;
        .link {
            height: 90px;
            width: 90px;
            border-radius: 15px;
        }
    }

    @media (max-width: 933px) {
        max-width: 650px;
        .link {
            height: 70px;
            width: 70px;
            border-radius: 12px;
        }
    }

    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 30px;

    .link {
        background: colors.$transparent-background;
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(119, 119, 119, 0.56);
        display: flex;
        align-items: center;
        justify-content: center;

        transition: 0.25s;

        .icon {
            transition: 0.25s;
        }

        &:hover {
            box-shadow: 0 0 8px white;

            .icon {
                filter: drop-shadow(0 0px 3px #FFFFFF);
            }
        }
    }
}