@use 'colors';
@use 'fonts';

.links-root {
    max-width: 1200px;
    .link {
        height: 60px;
        width: 60px;
        border-radius: 10px;
    }

    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 30px;

    .link {
        background: colors.$transparent-background;
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(119, 119, 119, 0.56);
        display: flex;
        align-items: center;
        justify-content: center;

        transition: 0.25s;

        .icon {
            transition: 0.25s;
        }

        &:hover {
            box-shadow: 0 0 8px white;

            .icon {
                filter: drop-shadow(0 0px 3px #FFFFFF);
            }
        }
    }
}