@use "fonts";
@use 'colors';

.skills-root {
    margin: auto;
    width: 90%;
    margin-bottom: 50px;

    .title {
        @extend .font-family-mono;
        margin-bottom: 10px;
        font-size: 32px;
        text-align: center;
    }

    .skills-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;

        .group {
            border-radius: 5px;
            margin: 10px 0 10px 0;
            padding: 10px;
            flex: 1 1 0px;
            background-color: colors.$section-bg-color;
            border-radius: 20px;

            .category-title {
                @extend .font-family-mono;
                font-size: 20px;
                padding: 10px 0 0 10px;
                margin-bottom: 5px;
                display: flex;

                .category-title-text {
                    margin-left: 10px;
                }
            }
        }
    }

    @media (min-width: 934px) {
        max-width: 1200px;
    }

    @media (max-width: 933px) {
        max-width: 650px;
    }
}